n8n/workflow-meta-publish-now.json
{
  "name": "Tipote - Meta (FB + IG) Publish Now",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meta-publish",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "meta-publish"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-secret",
              "leftValue": "={{ $json.headers['x-n8n-secret'] }}",
              "rightValue": "={{ $env.N8N_SHARED_SECRET }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "auth-check",
      "name": "Auth Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-platform",
              "leftValue": "={{ $json.body.platform }}",
              "rightValue": "instagram",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "route-platform",
      "name": "Is Instagram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.body.platform_user_id }}/feed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {{ JSON.stringify($json.body.commentary) }},\n  \"access_token\": \"{{ $json.body.access_token }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "autodetect"
            }
          }
        }
      },
      "id": "fb-post-text",
      "name": "Post to Facebook (Text)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Webhook Trigger').item.json.body.platform_user_id }}/photos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {{ JSON.stringify($('Webhook Trigger').item.json.body.commentary) }},\n  \"url\": \"{{ $('Webhook Trigger').item.json.body.image_url }}\",\n  \"access_token\": \"{{ $('Webhook Trigger').item.json.body.access_token }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "autodetect"
            }
          }
        }
      },
      "id": "fb-post-photo",
      "name": "Post to Facebook (Photo)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 60]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-image",
              "leftValue": "={{ $json.body.image_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "fb-has-image",
      "name": "FB Has Image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Webhook Trigger').item.json.body.platform_user_id }}/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"{{ $('Webhook Trigger').item.json.body.image_url }}\",\n  \"caption\": {{ JSON.stringify($('Webhook Trigger').item.json.body.commentary) }},\n  \"access_token\": \"{{ $('Webhook Trigger').item.json.body.access_token }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "autodetect"
            }
          }
        }
      },
      "id": "ig-create-media",
      "name": "IG Create Media Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Webhook Trigger').item.json.body.platform_user_id }}/media_publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"creation_id\": \"{{ $json.body.id }}\",\n  \"access_token\": \"{{ $('Webhook Trigger').item.json.body.access_token }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "autodetect"
            }
          }
        }
      },
      "id": "ig-publish-media",
      "name": "IG Publish Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook Trigger').item.json.body.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Secret",
              "value": "={{ $env.N8N_SHARED_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content_id\": \"{{ $('Webhook Trigger').item.json.body.content_id }}\",\n  \"platform\": \"{{ $('Webhook Trigger').item.json.body.platform }}\",\n  \"success\": true,\n  \"postId\": \"{{ $json.body?.id || $json.body?.post_id || '' }}\"\n}",
        "options": {}
      },
      "id": "callback-success-fb",
      "name": "Callback Success (FB)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook Trigger').item.json.body.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Secret",
              "value": "={{ $env.N8N_SHARED_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content_id\": \"{{ $('Webhook Trigger').item.json.body.content_id }}\",\n  \"platform\": \"instagram\",\n  \"success\": true,\n  \"postId\": \"{{ $json.body?.id || '' }}\"\n}",
        "options": {}
      },
      "id": "callback-success-ig",
      "name": "Callback Success (IG)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook Trigger').item.json.body.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Secret",
              "value": "={{ $env.N8N_SHARED_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content_id\": \"{{ $('Webhook Trigger').item.json.body.content_id }}\",\n  \"platform\": \"{{ $('Webhook Trigger').item.json.body.platform }}\",\n  \"success\": false,\n  \"error\": \"{{ $json.error?.message || JSON.stringify($json.body?.error || 'Meta API error') }}\"\n}",
        "options": {}
      },
      "id": "callback-error",
      "name": "Callback Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 560]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"postId\": \"{{ $json.body?.id || $json.body?.post_id || '' }}\" }",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1350, 120]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"postId\": \"{{ $json.body?.id || '' }}\" }",
        "options": {}
      },
      "id": "respond-success-ig",
      "name": "Respond Success (IG)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1570, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": false, \"error\": \"Unauthorized\" }",
        "options": {
          "responseCode": 401
        }
      },
      "id": "respond-unauthorized",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Auth Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check": {
      "main": [
        [
          {
            "node": "Is Instagram?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Instagram?": {
      "main": [
        [
          {
            "node": "IG Create Media Container",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FB Has Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB Has Image?": {
      "main": [
        [
          {
            "node": "Post to Facebook (Photo)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post to Facebook (Text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook (Text)": {
      "main": [
        [
          {
            "node": "Callback Success (FB)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook (Photo)": {
      "main": [
        [
          {
            "node": "Callback Success (FB)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Success (FB)": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Create Media Container": {
      "main": [
        [
          {
            "node": "IG Publish Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Publish Media": {
      "main": [
        [
          {
            "node": "Callback Success (IG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Success (IG)": {
      "main": [
        [
          {
            "node": "Respond Success (IG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "tipote",
      "createdAt": "2026-02-13T00:00:00.000Z",
      "updatedAt": "2026-02-13T00:00:00.000Z"
    }
  ],
  "pinData": {},
  "versionId": "1"
}
